	.srch{
		    float: right !important;
	}
	.panel{
		width: 1000px;
		height: 600px;
		margin:auto;
		background-color:  #f7f7f7;
	}
	.navbar{
		border-radius: 0px !important;background-color:#3b5998; border: 0px !important;
	}

	.img-responsive{
		border-radius: 5px
	}
	.btn-bs-file{
    position:relative;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}
	
	body{background-color: 	#dfe3ee; font-size: 15px;}